
@{
    ViewData["Title"] = "About Us";
}

<div class="jumbotron about-jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center text-white">About Us</h1>
    </div>
</div>
<div class="container">
    <h3>WHO WE ARE</h3>
    <p>
        At Blue Rock Gear, we prefer to do more with less. It's not just a remark on resourcefulness; it's a call to maximize
        you life by minimizing what you bring along. Because you don't need everything to be prepared for anything.<br /><br />
        We're streamlining daily life through quality products; redefining the everyday essentials.<br /><br />
        By eliminating excess and building to performance grade, we turn the items you carry everyday into tools for better living.
    </p>
</div>


