
@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron contact-jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center text-white">Contact Us</h1>
    </div>
</div>
<div class="container">
    
    <p class="text-center">
        Have a question? We'll get back to you within 48 hours.<br /><br />

        Send us an e-mail at support@bluerockgear.com
    </p>
</div>

