@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron home-jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center text-white">WELCOME TO BLUE ROCK GEAR!</h1>
    </div>
</div>
<div class="container">
    <br />
    <p>
        At Blue Rock Gear, we love the outdoors, and our goal is to provide you with quality products you and your families can love.<br /><br />
        We are currently offering free shipping with all of our orders, so be sure to order early so that we can get the items to you before Christmas.
    </p>
</div>
