@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron home-jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center text-white"></h1>
    </div>
</div>
<div class="container">
    <h1 class="text-center">WELCOME!</h1><br />
    <p>
        Welcome to the Blue Rock Gear online store! We offer a wide range of products for people that love the outdoors.<br /><br />
        Check out our latest bike selection, and be sure to order soon to receive the items before the holidays!

        @*<img src="~/images/home-image.jpg" height="750" width="1125" class="rounded mx-auto d-block" id="home-image" />*@
    </p>
</div>
