
@{
    ViewData["Title"] = "Return Policy";
}

<div class="jumbotron returns-jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center text-white">Return Policy</h1>
    </div>
</div>
<div class="container">
    <p>
        If you are not 100% satisfied with your purchase, you can return your order to our warehouse for a refund or exchange within 45 days of purchase.
        We offer free returns + exchanges and will provide you with a prepaid USPS label.
        To submit a request, please contact us at returns@blueridgegear.com<br /><br /><br />

    <span class="font-weight-bold">Returns must be unused, in the condition you received them.</span> We want to ensure the best possible experience for our customers, and do everything we can to remove any risk of shopping online.
    <br /><br />
    Upon receipt of the return, we will issue your approved refund via the original method of payment.
    <br /><br />
    For all approved exchanges we process your free domestic return shipping label via a prepaid USPS label, and will re-ship your replaceme
    </p>
</div>